/*css */

/*Standartwerte*/

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #FFAB00;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover, a:focus {text-decoration: underline;}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 580px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}

hr {
  height: 1px;
  margin-top: 40px;
  margin-bottom: 35px;
  /*border: none;
  background: url('../images/bg_hr.png') repeat-x center;*/                  /*----BEARBEITEN----*/
}

/*
ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #373737;
 }
*/
form {
  background: #f2f2f2;
  padding: 20px;
}

/*html & body*/

html { 
  height: 100.2%;
  background: #212121;
}

body {
  float:top;
  box-sizing: border-box;
  color:#373737;
  background: #212121;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin:0px;
  padding: 0px;
  box-shadow: 2px 0px 0px #000000;
  min-height: 100.2%;
  width: auto;
}

/*header*/

div#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #525252, #212121);
  background: -webkit-linear-gradient(top, #525252, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121); 
}

div#header_wrap .inner {                 
  padding: 50px 10px 60px 10px;
}

header#headerinner {
  position: relative;
  width: auto;
  padding: 20px 10px;
  margin-left: 600px;
  margin-right: 600px;
}
/*header: Titel & Unterueberschrift*/

img#logo {
  float: left;
  position: relative;
  margin: 0 auto;
  width: 77px;
  height: 120px;
  padding: 5px;
  border: none;
  box-shadow: 0px 0px 0px #000000;
}

h1#project_title {
  margin-top: 67px;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

h2#project_tagline {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
  margin-left: 60px;
}

ul#navi_main li>ul {
  display: none;
  padding:5px;
  margin:5px;
}
     
ul#navi_main li:hover>ul {
  display: block;
} 

/*header: Navigation     ------------------------   ANFANG   ------------------------*/

div#navigation_main { 
  width:1000px;
}

div#main {
}

ul#navi_main {
  text-align: center;
  height:auto;
  padding:5px;
}

/*Link
   
ul#navi_main a {
 text-decoration: none;
 padding:0px;
}
   
ul#navi_main a:hover {
 text-decoration: none;
 padding:0px;
}
*/


ul#navi_main li {
  float: left;
  position: relative;
  list-style-type: none;
  text-align: center;
  padding:5px;
}

/*Menuepunkte (blau)*/

#bluetxth4 {
  color:#FFAB00;
  padding:0px;
  margin-bottom:5px;
  margin-top:5px;
  text-decoration:none;
}
   
 #bluetxth3 {
  color:#FFAB00;
  padding:0px;
  margin-bottom:5px;
  margin-top:10px;
  text-decoration:none;
}

/*Hauptmenuepunkte*/
   
ul#navi_main li.mainmenupoint {
  width: 150px;
  height:auto;
  max-height:300px;
  min-height:50px;
  padding:5px;
  margin:0px;
}
   
ul#navi_main li.mainmenupoint:hover {
  width: 150px;
  height:auto;
  max-height:300px;
  min-height:50px;
  padding:5px;
  background-color:#373737;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 2px 2px 0px #000000;
  margin:0px;
 }

/*Untermenuepunte - Liste*/
 
ul#navi_main li ul.dropdown_navi_einzel {  /*normale Breite für einen normalen Einzelpunkt*/
  background-color:#373737;
  box-shadow: 2px 2px 0px #000000;
  /*border-top-right-radius: 10px;*/
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  left: 0;
  padding: 0px;
  position: absolute;
  top:50px;
  left:-5px;
  margin-bottom:15px;
  height:auto;
  width:160px;
}

ul#navi_main  li  ul.dropdown_navi_einzel:hover {
  background-color:#373737;
  box-shadow: 2px 2px 0px #000000;
  /*border-top-right-radius: 10px;*/
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  left: 0;
  padding: 0px;
  position: absolute;
  top:50px;
  left:-5px;
  margin-bottom:15px;
  height:auto;
  width:160px;
}

ul#navi_main li ul.dropdown_navi_doppel {   /*doppelte Breite für zwei normale Einzelpunkte*/
  background-color:#373737;
  box-shadow: 2px 2px 0px #000000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  left: 0;
  padding: 0px;
  position: absolute;
  top:50px;
  left:-5px;
  margin-bottom:15px;
  height:auto;
  width:320px;
}

ul#navi_main  li  ul.dropdown_navi_doppel:hover {
  background-color:#373737;
  box-shadow: 2px 2px 0px #000000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  left: 0;
  padding: 0px;
  position: absolute;
  top:50px;
  left:-5px;
  margin-bottom:15px;
  height:auto;
  width:320px;
}

ul#navi_main li ul.dropdown_navi_dreifach {   /*dreifache Breite für drei normale Einzelpunkte*/
  background-color:#373737;
  box-shadow: 2px 2px 0px #000000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  left: 0;
  padding: 0px;
  position: absolute;
  top:50px;
  left:-5px;
  margin-bottom:15px;
  height:auto;
  width:480px;
}

ul#navi_main  li  ul.dropdown_navi_dreifach:hover {
  background-color:#373737;
  box-shadow: 2px 2px 0px #000000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  left: 0;
  padding: 0px;
  position: absolute;
  top:50px;
  left:-5px;
  margin-bottom:15px;
  height:auto;
  width:480px;
}

ul#navi_main li ul.dropdown_navi_vierfach {   /*vierfache Breite für vier normale Einzelpunkte*/
  background-color:#373737;
  box-shadow: 2px 2px 0px #000000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  left: 0;
  padding: 0px;
  position: absolute;
  top:50px;
  left:-5px;
  margin-bottom:15px;
  height:auto;
  width:640px;
}

ul#navi_main  li  ul.dropdown_navi_vierfach:hover {
  background-color:#373737;
  box-shadow: 2px 2px 0px #000000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  left: 0;
  padding: 0px;
  position: absolute;
  top:50px;
  left:-5px;
  margin-bottom:15px;
  height:auto;
  width:640px;
}

/*sonderbreiten*/

ul#navi_main li ul.dropdown_navi_einzelcommafuenf {   /*1,5fache Breite für einen breiten Einzelpunkt*/
  background-color:#373737;
  box-shadow: 2px 2px 0px #000000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  left: 0;
  padding: 0px;
  position: absolute;
  top:50px;
  left:-5px;
  margin-bottom:15px;
  height:auto;
  width:235px;
}

ul#navi_main  li  ul.dropdown_navi_einzelcommafuenf:hover {
  background-color:#373737;
  box-shadow: 2px 2px 0px #000000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  left: 0;
  padding: 0px;
  position: absolute;
  top:50px;
  left:-5px;
  margin-bottom:15px;
  height:auto;
  width:235px;
}
  
/**/
  
  
.menu_link {
  text-decoration: none;
}

/*Untermenuepunkte - Einzelpunkte*/
ul#navi_main li ul li {
  float: left;
  text-align: center;
  position:relative;
  top: 0px;
  margin: 20px;
  width: 110px;
}
     
ul#navi_main li ul li:hover {
  float: left;
  text-align: center;
  background-color:#575757;
  text-decoration: none;
  border-radius: 10px;
  position:relative;
  top: 0px;
  margin: 20px;
  width: 110px;
}

ul#navi_main li ul li.normal {
  float: left;
  text-align: center;
  position:relative;
  top: 0px;
  margin: 20px;
  width: 110px;
}
     
ul#navi_main li ul li.normal:hover {
  float: left;
  text-align: center;
  background-color:#575757;
  text-decoration: none;
  border-radius: 10px;
  position:relative;
  top: 0px;
  margin: 20px;
  width: 110px;
}

ul#navi_main li ul li.breit {
  float: left;
  text-align: center;
  position:relative;
  top: 0px;
  margin: 20px;
  width: 185px;
}
     
ul#navi_main li ul li.breit:hover {
  float: left;
  text-align: center;
  background-color:#575757;
  text-decoration: none;
  border-radius: 10px;
  position:relative;
  top: 0px;
  margin: 20px;
  width: 185px;
}

ul#navi_main li ul li.sehr_breit {
  float: left;
  text-align: center;
  position:relative;
  top: 0px;
  margin: 20px;
  width: 270px;
}
     
ul#navi_main li ul li.sehr_breit:hover {
  float: left;
  text-align: center;
  background-color:#575757;
  text-decoration: none;
  border-radius: 10px;
  position:relative;
  top: 0px;
  margin: 20px;
  width: 270px;
}

li#home_unterpunkt {
  margin-left: 40px;
}


/**/

ul#navi_main li>ul {
  display: none;
  padding:5px;
  margin:5px;
}
     
ul#navi_main li:hover>ul {
  display: block;
}
 
  
/*header: Navigation     ------------------------   ENDE   ------------------------*/  



/*Maincontent oder Hauptteil*/ 

.outer {
  min-width:100px;
}  

#main_content_wrap {
  min-width:100px auto;
  position:relative;
  margin-top:50px;
  margin-left:600px;
  margin-right:600px;
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 3px 3px 0px #000000;
}

#main_content_wrap h1 {
  text-decoration: bold;
}

#main_content_wrap h2 {
  text-decoration: underline;
}

/*section + Inhalt*/

#main_content {
  padding-top: 40px;
  padding-bottom: 40px;
}

.inner {
  position: relative;
  width: 600px;
  padding: 20px 10px;
  margin: 0 auto;
}

/*footer*/

#footer_wrap {
  background: #212121;
}

footer.inner {
   min-width: 320px;
   max-width: 480px;
}
  
/*lesbarkeit auf handys etc*/                              /*-----------------!!!UNFERTIG!!!-----------------*/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }
  
  header#headerinner {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  div#navigation_main{
	width:500px;
  }
  
  ul#navi_main li.mainmenupoint {
  width: 100px;
  height:auto;
  max-height:300px;
  min-height:10px;
  padding:5px;
  margin-top:0px;
}
   
ul#navi_main li.mainmenupoint:hover {
  width: 100px;
  height:auto;
  max-height:300px;
  min-height:10px;
  padding:5px;
  background-color:#373737;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 2px 2px 0px #000000;
  margin-top:0px;
 }
  
  #main_content_wrap {
    margin-top:150px;
    margin-left:20px;
    margin-right:20px;
  }

  .inner {
    width:380px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }
  
  iframe#ytvideo {
	  width:380px;
	  height:213px;
  }
  
  img  {
	  max-width:360px;
  }

}

@media screen and (min-width: 481px) {
  html{
	width:1280px;
  }	
	
  body {
     width:1280px;
  }
  
  div#navigation_main{
	width:700px;
  }
  
  ul#navi_main li.mainmenupoint {
  width: 150px;
  height:auto;
  max-height:300px;
  min-height:50px;
  padding:5px;
  margin:0px;
}
   
ul#navi_main li.mainmenupoint:hover {
  width: 150px;
  height:auto;
  max-height:300px;
  min-height:50px;
  padding:5px;
  background-color:#373737;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 2px 2px 0px #000000;
  margin:0px;
  margin-bottom:100px;
 }
  
  header#headerinner {
    margin-left: 380px;
    margin-right: 380px;
  }
  
  #main_content_wrap {
    margin-top:150px;
    margin-left:380px;
    margin-right:380px;
  }
  
  .inner {
    width:380px;
  }
  
  iframe {
	  width:380px;
	  height:213px;
  }
  
  iframe {
	  width:380px;
	  height:213px;
  }
  
  img  {
	  max-width:380px;
  }
}

@media screen and (min-width: 1281px) {
  form {
    width:1920px;
	margin:0px;
	padding:0px;
  }

  html {
    width:1920px;
	margin:0px;
	padding:0px;
  }
  
  body {
    width:1920px;
	margin:0px;
	padding:0px; 
  }
  
  header#headerinner {
    margin-left: 600px;
    margin-right: 600px;
  }
  
  div#navigation_main{
	width:1000px;
  }
  
  ul#navi_main li.mainmenupoint {
  width: 150px;
  height:auto;
  max-height:300px;
  min-height:50px;
  padding:5px;
  margin:0px;
}
   
ul#navi_main li.mainmenupoint:hover {
  width: 150px;
  height:auto;
  max-height:300px;
  min-height:50px;
  padding:5px;
  background-color:#373737;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 2px 2px 0px #000000;
  margin:0px;
 }
  
  #main_content_wrap {
    margin-top:150px;
    margin-left:600px;
    margin-right:600px;
  }
  
  .inner {
    width:600px;
  }
  
  iframe {
	  width:600px;
	  height:337px;
  }
  
  img  {
	  max-width:600px;
  }
}


/*other stuff */

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}
